/venv/
/datasets.h5
/outputs/single_run/*
/outputs/hyperopt_single/*
/outputs/hyperopt_multi/*
/data/__pycache__
/data/utils/__pycache__/*
/data/__pycache__/*

# Exclude all Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw

# Exclude .pytest_cache
.pytest_cache/

# Exclude Python coverage files
.coverage
htmlcov/

outputs/*

src/__pycache__/*
src/data/__pycache__/*
src/data/utils/__pycache__/*
src/engine/__pycache__/*
src/softensemble/__pycache__/*
src/utils/__pycache__/*
